<!-- container section start -->
<section id="container" class="">
    <header class="header dark-bg">
        <div class="toggle-nav">
            <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i
                    class="icon_menu"></i></div>
        </div>
        <!--logo start-->
        <a href="index.html" class="logo">University <span class="lite">{{loginPerson}}</span></a>
        <!--logo end-->

        <div class="top-nav notification-row">
            <!-- notificatoin dropdown start-->
            <ul class="nav pull-right top-menu">
                <!-- user login dropdown start-->
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="profile-ava">
                            <img alt="" style="height: 30px;margin-right: 5px;" src="../../../assets/img/profile.png">
                        </span>
                        <span class="username">{{name}}</span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu extended logout">
                        <div class="log-arrow-up"></div>
                        <li class="eborder-top">
                            <a href="" [routerLink]="[profileRoute]"><i class="icon_profile"></i> My Profile</a>
                        </li>
                         <li *ngIf="loginPerson !='Admin'">
                            <a href="" [routerLink]="[chatRoute]"><i class="icon_mail_alt"></i> My Inbox</a>
                        </li> 
                        <li>
                            <a style="cursor: pointer;" (click)='logOutUser()'><i class="icon_key_alt"></i> Log Out</a>
                        </li>

                    </ul>
                </li>
                <!-- user login dropdown end -->
            </ul>
            <!-- notificatoin dropdown end-->
        </div>
    </header>
    <!--header end-->

    <!--sidebar start-->
    <aside>
        <div id="sidebar" class="nav-collapse ">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu">
                <li class="active" *ngFor="let n of navigations">
                    <a class="" [routerLink]="[n.path]">
                        <i [class]="n.icon"></i>
                        <span>{{n.name}}</span>
                    </a>
                </li>
            </ul>
            <!-- sidebar menu end-->
        </div>
    </aside>
    <!--sidebar end-->

    <!--main content start-->
    <section id="main-content">
        <router-outlet></router-outlet>
    </section>
    <!--main content end-->
</section>